<style>
body {
    min-width:420px;
    overflow-x:hidden;
}

img {
    vertical-align:middle;
    padding-left: 2px;
    padding-right: 2px;
    width:19px;
    height:19px;
}

div {
    padding-top: 6px;
}

.waiting {
    background-image: url('images/waiting.gif');
    background-repeat: no-repeat;
    margin: auto;
}

p {
    display: inline;
}

.status {
    padding-left: 2px;
    font-size: 15px;
    width: 100px;
    overflow: hidden;
}

.link {
    cursor: pointer;
    color: "#0D53A8";
}

</style>

<script>
var request = new XMLHttpRequest();
request.open(
    "GET",
    "https://api.projectplace.com/1/user/me/assignments.json",
    true);
request.onload = showPosts;
window.onload = function() { document.body.className = "waiting"; }
request.send(null);

function showPosts() {
    if (request.status != '200') {
	showLoginPage();
    }
    document.body.className = "";
    var response = JSON.parse(request.responseText);
    for (i=0; i<response.length; i++) {
	var this_obj = response[i];
	var main_div = document.createElement("div");
	var obj_img = document.createElement("img");
	obj_img.src = constructImageURL(this_obj.type);
	main_div.appendChild(obj_img);

	var obj_name = document.createElement("span");
	obj_name.innerHTML = "<p class='status link'>" + this_obj.name + "</p>";
	main_div.appendChild(obj_name);

	var proj_name = document.createElement("span");
	proj_name.innerHTML = "<p class='status'>" + this_obj.project_name + "</p>";
	main_div.appendChild(proj_name);

	var due_date = document.createElement("span");
	due_date.innerHTML = "<p class='status'>" + this_obj.due_date + "</p>";
	main_div.appendChild(due_date);

	document.body.appendChild(main_div);
    }
}

function constructImageURL(type) {
    if(type == 'task') {
	return 'images/tasks.png';
    }
    else if(type == 'meetingrequest') {
	return 'images/meetings.png';
    }
    else if(type == 'docreview') {
	return 'images/documents.png';
    }
    else if(type == 'issue') {
	return 'images/issues.png';
    }
    else {
	return 'images/documents.png';
    }
}

function showLoginPage() {
    chrome.tabs.create({'url': 'https://secure.projectplace.com/en/Log-in/',
			'selected': true});
}

function openResource(id) {
    chrome.tabs.create({'url': 'https://secure.projectplace.com/pp/pp.cgi/0/' + id,
			'selected': true});
}

</script>
